@import url("https://use.typekit.net/atk3mme.css");
body {
  padding: 0.5em;
  margin: 0;
  font-family: fira-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
  padding: 1em;
}

.faucet,
.wallet,
.chain {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
a {
  text-decoration: none;
}

.App-header {
  display: flex;
  justify-content: space-between;
}
/* Home */
.title {
  margin-top: 3em;
  margin-bottom: 0.5em;
  font-size: 5em;
}
.bridgeButton {
  margin-top: 2em;
  width: 10em;
  font-size: 2em;
}

/* Bridge */
.mainContainer {
  margin: 2em;
}

.tokenSelect,
.chainSelect {
  height: 15vh;
  margin: 2em;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  border-radius: 20px;
}

#tokenList {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tokenSelect {
  flex-direction: column;
  height: 20vh;
}
select,
input {
  background: orange;
  border-radius: 15px;
  margin-left: 1em;
}

.amountCluster {
  display: flex;
  flex-direction: column;
  background-color: grey;
  height: 20vh;
  margin: 2em;
  font-size: 1.5em;
  border-radius: 20px;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
}
.buttons > * {
  margin: 1em;
  width: 5em;
}

.lockButton {
  display: flex;
}
